@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

 }
:root {
    --bg-color:#222831;
    --second-bg-color:#323946;
    --text-color:#000000;
    --main-color:rgb(28, 70, 73); 
 }
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index:100 ;

 }

body{
    background: url('3226135.jpg') no-repeat center center/cover;
    background-image: blur(5px);
 }

.header-left {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 1.4em;
  font-weight: bold;
  color: rgb(246, 246, 246);
  /* background-color: rgba(56, 74, 137, 0.6); */
  padding: 8px 14px;
  border-radius: 8px;
  z-index: 1000;
}
.header-left span {
  color: #00cc66;
}

canvas {
  border: 2px solid #fff;
  background-color: rgb(43, 28, 28);
}
\.social-buttons {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  gap: 15px;
}

.social-btn {
  font-size: 1.8rem;
  color: white;
  background: #077A7D;
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  transition: background 0.3s;
}

/* .social-btn:hover {
  background: #555;
} */


.menu-bar {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.menu-bar button {
  background-color: #077A7D;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.menu-bar button:hover {
  background-color: #666;
}


.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: white;
}

.menu-container input {
  padding: 12px;
  width: 250px;
  font-size: 16px;
  margin: 20px 0;
  border: none;
  border-radius: 8px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background: #01130a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.1);
  background: #00ff88;
}

#gameOverMenu {
  display: none;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  background:#948979;
  color: white;
}

/* Basic styling for the modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(187, 216, 113, 0.7); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #444;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.close:hover {
  color: #ccc;
}
body::-webkit-scrollbar {
  display: none;
}
